# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - uses: actions/github-script@v6
        id: set-result
        with:
          script: |
            const a = await github.request(`POST /repos/${context.repo.owner}/${context.repo.repo}/git/tags`, {
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: 'v0.0.1',
              message: 'initial version',
              object: '632295ca2de215a77c602e42384b5f6d47f9eb94',
              type: 'commit',
              tagger: {
                name: 'Monalisa Octocat',
                email: 'octocat@github.com',
                date: '2011-06-17T14:53:35-07:00'
              }
            })
            console.log(a)
          result-encoding: string
      
